/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: absolute;
    height: 45px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #20212b; /* changed to dark background */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.top-bar .top-bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-bar .text {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 45px;
    padding: 0 10px;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.top-bar .text:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.top-bar .text i {
    font-size: 16px;
    color: #fdbe33;
    margin-right: 5px;
}

.top-bar .text p,
.top-bar .text a {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    text-decoration: none;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: relative;
    transition: 0.5s;
    z-index: 999;
    background: #20212b !important;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background: #20212b !important;
    transition: 0.5s;
}

.navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 10px 15px 8px 15px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #fdbe33;
    transition: none;
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        top: 45px;
        padding: 20px 60px;
        background: #20212b !important;
        border-bottom: none;
    }

    .navbar.nav-sticky {
        position: fixed;
        top: 0;
        padding: 10px 60px;
        background: #20212b !important;
        border-bottom: none;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    }

    .navbar a.nav-link {
        padding: 8px 15px;
        font-size: 16px;
        letter-spacing: 1px;
    }
}

@media (max-width: 991.98px) {
    .navbar .navbar-brand {
        font-size: 37px;
    }
    .navbar {
        padding: 15px;
        background: #20212b !important;
    }

    .navbar a.nav-link {
        padding: 5px;
    }

    .navbar .dropdown-menu {
        box-shadow: none;
    }
}
